
.boxes {
  width:100%;
  max-width: 1240px;
  height: 1200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
  align-content: center;
}

.half {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-top: 5px;
  height: 50%;
}

.half div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxText {
  font-size: 2rem;
  color: white;
  font-family: "Raleway Medium";
}

.mens {
  background: url(/images/mens-category.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 1; 
  grid-column-end: 5;
  
}

.trends {
  background: url(/images/trends-category.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 1; 
  grid-column-end: 3;
}

.glasses {
  background: url(/images/glasses-category.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 3; 
  grid-column-end: 5;
}

.sale {
  background: url(/images/sale-category.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 1; 
  grid-column-end: 3; 
}

.bags {
  background: url(/images/bags-category.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 3; 
  grid-column-end: 5; 
}

.womens {
  background: url(/images/womens-category.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 1; 
  grid-column-end: 5;
  
}

.lowerBrightnessFilter {
  filter: brightness(.8); 
}
