.boxes {
  width:100%;
  max-width: 1240px;
  margin: 0 auto;
  height: 1240px;
}

.half {
  background: pink;
  height: 50%;
  flex: 1 0 599px;
}

.divide {
  display: flex;
  flex-flow: row nowrap; 
  justify-content: center;
  height: 50%;
}

.mens {
  background: url(/images/mens-category.jpg);
  background-size: cover;
  background-position: bottom;
  height: 50%;
}

.womens {
  background: url(/images/womens-category.jpg);
  background-size: cover;
  height: 50%;

}

.trends {
  background: url(/images/trends-category.jpg);
  background-size: cover;
  width: 100%;
}

.glasses {
  background: url(/images/glasses-category.jpg);
  background-size: cover;
  width: 100%;
}

.sale {
  background: url(/images/sale-category.jpg);
  background-size: cover; 
  width: 100%;
}

.bags {
  background: url(/images/bags-category.jpg);
  background-size: cover; 
  background-position: bottom;
  width: 100%;
}


