@media all and (min-width: 500px) {
  .boxes{
    height:1200px;
  }
}

@media all and (min-width: 600px) {
  html{
    font-size:16px;
  }
  header {
    display: grid; 
    grid-template-columns: 100px 1fr 50px;
    align-content: center;
  }
  .logo {
    margin: 0 0 0 5px;
    width: 100%;
  }
  nav {
    justify-self: center;
    width: 80%;
    margin: 0;
    padding: 0;
    border: 0;
    justify-content: space-around;
  }

  .cart-wrapper {
    order: 100;
  }

  .cart {
    width: 70%;
  }

  .year {
    margin-left: 10px;
  }

  .products {
    width: 200%;
  }

  .boxes {
    height: 300px;
  }
  .half { 
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .mens {
    grid-column-start: 1; 
    grid-column-end: 3; 
  }

  .trends {
    grid-column-start:3; 
    grid-column-end: 4;
  }

  .glasses {
    grid-column-start:4; 
    grid-column-end: 5;
  }

  .sale {
    grid-column-start:1; 
    grid-column-end: 2;
  }

  .bags {
    grid-column-start:2; 
    grid-column-end: 3;
  }

  .womens {
    grid-column-start:3; 
    grid-column-end: 5;
  }

}

@media all and (min-width: 1000px) {

    .banner p {
      margin-left: 320px;
      margin-right:320px;
    }

    .boxes {
      height: 500px;
    }
}

@media all and (min-width: 1240px) {
  html{
    font-size:16px;
  }

  .hero-title {
    flex-flow: row nowrap;
  }
  
  .boxes {
    height: 620px;
  }

  footer {
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 200px;
  }

  .left-foot {
    text-align: left;
    height: 80%;
    line-height: 1.4rem;
  }
  
  .socialMedia {
    display: flex;
    flex-flow: column nowrap;
    width: 10%;
    column-gap: 2rem;
    margin: 0px;
    height: 80%;
  }

  .socialMedia li {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr;
  }

  .socialName {
    text-align: left;
    display: block;
  }

}

