html {  
  font-size: 14px;
  --body-color: #2d2d2d;
  --lightgrey: #969696;
  --orange-brand: #e2574c;
  --link-hover: #b64036;
  --grey-border: #d7d7d7;
  --footer-background: #242424;
}

body {
  font-family: "Raleway Light";
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
}

header {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-between; 
  align-items: center;
  background: white;
  padding: 3px;
  position: fixed;
  width: 100%;
  transition: top 0.3s;
  z-index:1;
  top: 0;
}

.logo {
  width: 125px;
  margin: 5px 30px 5px 5px;
  order: 1;
}

nav {
  display: flex;
  flex-flow: row nowrap; 
  justify-content: space-around; 
  align-items: center;
  margin: 0px 30px 3px 30px;
  padding: 5px;
  order: 4;
  width: 80%;
  border-top: 1px solid var(--lightgrey);
  flex-grow: 1;
}


nav a {
  text-decoration: none;
  color: var(--orange-brand);
}

nav a:hover {
  color: var(--link-hover);
}

.cart-wrapper {
  position: relative;
}

.cart {
  width: 45px;
  padding-right: 10px;
}

#cartCount {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px; 
  right: 5px;
  background:var(--orange-brand);
  color: white;
  border: 2px solid white;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.hero {
  margin-top:100px;
  height: 500px;
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
  background-size: cover, contain, cover;
  background-position: center, center 70px, center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.hero-heading {
  text-align: center;
}

.hero-heading p {
  font-size: 1.5rem;
  color: white;
  font-family: "Raleway Medium";
  text-shadow: 3px 3px 10px grey;
  margin-bottom: 25px;
}

.hero-title {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
.hero-heading h1 {
  font-size: 4rem;
  color: white;
  font-family: "Playfair Display light";
  text-shadow: 3px 3px 10px grey;
}

.year {
  font-family: "Playfair Display medium";
  font-size:3rem;
  text-shadow: 3px 3px 10px grey;
}

.banner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 60px 10px ;
  text-align: center;
  line-height: 2rem;
  font-size: 1.3rem;
}

.banner p {
  margin-top: 10px;
}

.product { 
  display: flex; 
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 1240px;
}

.view-product {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

button:active {
  background: white;
  color: var(--orange-brand);
  border: 1px solid var(--orange-brand);
}

.product-name {
  color: var(--orange-brand);
  margin: 10px 0 10px 0;
  font-family: "Playfair Display";
  font-weight: 100;
  font-size: 2rem;
}

.type {
  font-size: 1rem;
  font-weight: 800;
  color: var(--lightgrey); 
  margin-bottom: 10px;
}

.subscribe {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding-top: 20px;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/wave-bkgd.jpg);
  background-attachment: relative;
  background-position: bottom;
  background-repeat: no-repeat;
  color: white;
}

.subscribe-blob {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 2px 2px 20px var(--grey-border);
  line-height: 2rem;
  margin-bottom: 10px;
  padding: 0 10px 0 10px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 50px;
}

.subscribe-form {
  background: white;
  border-radius: 20px;
  display: flex;
  flex-flow: row nowrap; 
  justify-content: space-between;
  width: 80%;
  height: 40px;
}

.emailInput {
  margin-left: 10px;
  padding-left: 20px;
  border: 0px;
  border-radius: 20px;
  width: 100%;
  font-size: 1.2rem;
}

.subscribe-btn {
  background: var(--orange-brand);
  border-radius: 20px;
  border: inherit;
  color: white;
  padding: 5px 15px 5px 15px;
  width: 50%;
  margin: 3px;
  font-size: 1.2rem;
}

footer {
  font-family: "Playfair Display";
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--footer-background);
  color: white;
  font-size: 1.1rem;

}

.address {
  color: var(--lightgrey);
}

.contact a{
  color: white;
}


.socialMedia {
  margin: 30px 0px 40px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}

.socialName {
  display: none;
}


.carousel-cell {
  width: 100%;
  height: 500px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  background:white
}

.carousel-cell:before {
  display: block;
  text-align: center;
  color: white;
}

.flickity-prev-next-button  {
  display: none;
}
