html {  
  font-size: 14px;
  --body-color: #2d2d2d;
  --lightgrey: #969696;
  --orange-brand: #e2574c;
  --link-hover: #b64036;
  --grey-border: #d7d7d7;
  --footer-background: #242424;
}

body {
  font-family: "Raleway Light";
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
}

header {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-between; 
  align-items: center;
  background: white;
}

.logo {
  width: 125px;
  margin: 5px 30px 5px 5px;
  order: 1;
}

nav {
  display: flex;
  flex-flow: row nowrap; 
  justify-content: space-between; 
  align-items: center;
  margin: 0px 30px 3px 30px;
  padding: 5px;
  order: 4;
  width: 80%;
  border-top: 1px solid var(--lightgrey);
  flex-grow: 1;
}


nav a {
  text-decoration: none;
  color: var(--orange-brand);
}

nav a:hover {
  color: var(--link-hover);
}

.cart {
  width: 50px;
  margin: 5px;
}

.hero {
  height: 500px;
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
  background-size: cover, contain, cover;
  background-position: center, center 70px, center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.hero-heading {
  text-align: center;
}

.hero-heading p {
  font-size: 1.5rem;
  color: white;
  font-family: "Raleway Medium";
  text-shadow: 3px 3px 10px grey;
  margin-bottom: 25px;
}

.hero-title {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
.hero-heading h1 {
  font-size: 4rem;
  color: white;
  font-family: "Playfair Display light";
  text-shadow: 3px 3px 10px grey;
}

.year {
  font-family: "Playfair Display medium";
  font-size:3rem;
  text-shadow: 3px 3px 10px grey;
}

.banner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 60px 10px ;
  text-align: center;
  line-height: 2rem;
}

.product { 
  display: flex; 
  flex-flow: column nowrap;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 1240px;
}

/* .carousel {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  margin-top: 20px;
} */

.view-product {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.product-name {
  color: var(--orange-brand);
  margin: 10px 0 10px 0;
  font-family: "Playfair Display";
  font-weight: 100;
  font-size: 1.4rem;
}

.type {
  font-size: .8rem;
  color: var(--lightgrey); 
}

.subscribe {
  display: grid; 
  grid-template-columns: 1fr;
  height: 350px;
  padding: 50px;
  text-align: center;
  background: url(../images/wave-bkgd.jpg);
  background-attachment: relative;
  background-position: center -500px;
  background-repeat: no-repeat;
  color: white;
  margin-bottom: 10px;
}

.subscribe-blob {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto; 
  padding: 0px;
}

.subscribe-form {
  background: white;
  border-radius: 20px;
  display: flex;
  flex-flow: row nowrap; 
  justify-content: space-between;
  padding: 2px;
  width: 250px;
}

.emailInput {
  margin-left: 10px;
  border: 0px;
  border-radius: 20px;
}

.subscribe-btn {
  background: var(--orange-brand);
  border-radius: 10px;
  border: inherit;
  color: white;
  padding: 5px 15px 5px 15px;
}

footer {
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--footer-background);
  color: white;

}

.address {
  color: var(--lightgrey);
}

.socialMedia {
  margin: 30px 0px 40px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.socialName {
  display: none;
}


* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  background: white;
}

.gallery-cell {
  width: 66%;
  height: 400px;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

